SOAP_ex10_No2/StudentSOAP/src/META-INF/wsdl/localhost_8080/Student_SOAP/StudentWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services/">

<xs:element name="InsertStudent" type="tns:InsertStudent"/>

<xs:element name="InsertStudentResponse" type="tns:InsertStudentResponse"/>

<xs:element name="findStudentByID" type="tns:findStudentByID"/>

<xs:element name="findStudentByIDResponse" type="tns:findStudentByIDResponse"/>

<xs:element name="findStudentByName" type="tns:findStudentByName"/>

<xs:element name="findStudentByNameResponse" type="tns:findStudentByNameResponse"/>

<xs:element name="removeStudent" type="tns:removeStudent"/>

<xs:element name="student" type="tns:student"/>

<xs:element name="updateStudent" type="tns:updateStudent"/>

<xs:complexType name="removeStudent">
<xs:sequence>
<xs:element name="stu" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="student">
<xs:sequence>
<xs:element name="gpa" type="xs:double" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateStudent">
<xs:sequence>
<xs:element name="stu" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertStudent">
<xs:sequence>
<xs:element name="stu" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InsertStudentResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findStudentByID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findStudentByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:student" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>